<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectingStrings>
    <add name="SalesDB" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-JEM4G87I;Initial Catalog=Sales;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectingStrings>

  <appSettings>
    <add key="SalesCsvPath" value="E:\workspace\CSharpFun\DataParser\data\Sales_1_2017-07-09.csv" />
    <add key="ItemsCsvPath" value="E:\workspace\CSharpFun\DataParser\data\Items_1_2017-07-09.csv" />
    <add key="JournelsCsvPath" value="E:\workspace\CSharpFun\DataParser\data\Journals_1_2017-07-09.csv" />
    <add key="ExceptionReportPath" value="E:\workspace\CSharpFun\DataParser\data\ExceptionReport.txt" />
  </appSettings>
  
</configuration>