<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>

    <add name="Test1" 
       providerName="System.Data.SqlClient"
         connectionString="Data Source=LAPTOP-JEM4G87I;Initial Catalog=TestDB;Integrated Security=True;MultipleActiveResultSets=True"/>
    
  </connectionStrings>

  <appSettings>

    <add key="Path1" value="E:\workspace\CSharpFun\SmallPrograms\DataParser\Data\report1.csv"/>
    <add key="Path2" value="E:\workspace\CSharpFun\SmallPrograms\DataParser\Data\report2.csv"/>
    <add key="Path3" value="E:\workspace\CSharpFun\SmallPrograms\DataParser\Data\report3.csv"/>
    <add key="ExceptionReportPath" value="E:\workspace\CSharpFun\SmallPrograms\DataParser\Data\ExceptionReport.txt"/>
    
  </appSettings>
  
  
</configuration>